/* style.css */

/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url('assets/cards/background.png');
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o canvas do jogo */
#game-canvas {
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Estilos para o título do jogo */
.title {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para os botões do jogo */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilos para as cartas do jogo */
.card {
    background-image: url('assets/cards/cardBack_green1.png');
    /* Outras propriedades de estilo para as cartas */
}
