body {
    font-family: Arial, sans-serif;
    margin: 0;
  }

  h1, h2 {
    text-align: center;
  }

  .select-imput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .lista-gastos {
    margin: 20px;
  }

  .select-imput input[type="number"], .input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
  }

  table{
    width: 100%;
    border-collapse: collapse;
  }

  th{
    text-align: center;
  }